#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1
export DH_OPTIONS
export DH_GOPKG := github.com/ubuntu-core/snappy-cloud-image

%:
	dh $@ --buildsystem=golang --with=golang --fail-missing
